[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
django-jet-reboot = "*"
feedparser = "*"

[dev-packages]
django-debug-toolbar = "*"
pytest-django = "*"
model-bakery = "*"
pytest = "*"
drf-spectacular = "*"

[requires]
python_version = "3.12"
